<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Mmvm.Navigation" version="1.0.0-a" targetFramework="net48"/>
    <package id="Mmvm.Navigation.Model" version="1.0.0-a" targetFramework="net48"/>
    <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48"/>
</packages>