/.idea/
/packages/
/.vs/

/Command/bin/
/Command/obj/

/EventAggregator/bin/
/EventAggregator/obj/

/JsonSerializer/bin/
/JsonSerializer/obj/

/Serializer/bin/
/Serializer/obj/

/LinqExtension/bin/
/LinqExtension/obj/

/Logger/bin/
/Logger/obj/

/LoggerImpl/bin/
/LoggerImpl/obj/

/Navigation/bin/
/Navigation/obj/

/NavigationError/bin/
/NavigationError/obj/

/NavigationImpl/bin/
/NavigationImpl/obj/

/NavigationModel/bin/
/NavigationModel/obj/

/Container/bin/
/Container/obj/

/NavigationAttribute/bin/
/NavigationAttribute/obj/

/ContainerAttributes/bin/
/ContainerAttributes/obj/

/ContainerError/bin/
/ContainerError/obj/

/ContainerImpl/bin/
/ContainerImpl/obj/

/MapperProfile/bin/
/MapperProfile/obj/

/ViewBinding/bin/
/ViewBinding/obj/

/ViewBindingError/bin/
/ViewBindingError/obj/

/ViewBindingImpl/bin/
/ViewBindingImpl/obj/

/ViewBindingModel/bin/
/ViewBindingModel/obj/

/AssemblyLoader/bin/
/AssemblyLoader/obj/

/AssemblyLoaderImpl/bin/
/AssemblyLoaderImpl/obj/

/AssemblyLoaderModel/bin/
/AssemblyLoaderModel/obj/

/Initializer/bin/
/Initializer/obj/

/InitializerImpl/bin/
/InitializerImpl/obj/

