<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- Commons -->
  <variable name="layoutVarMessageCleaned" value="${replace:inner=${message}:searchFor=\\:replaceWith=:regex=false}"/>
  <variable name="layoutVarLogger"
            value="${replace:inner=${logger}:searchFor=[a-z].+?(?=[\.]):replaceWith=:regex=true}"/>

  <!-- Headers -->
  <variable name="headerVarBoldLine"
            value="=================================================================================================================================================================================="/>
  <variable name="headerVarThinLine"
            value="----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"/>

  <variable name="headerVarMachineNameTitle"
            value="Machine name"/>
  <variable name="headerVarBaseDirectoryTitle"
            value="Base directory"/>
  <variable name="headerVarAppVersionTitle"
            value="Application Version"/>

  <variable name="headerVarDateTitle"
            value="Date and time"/>
  <variable name="headerVarLevelTitle"
            value="Level"/>
  <variable name="headerVarThreadIdTitle"
            value="ThreadId"/>
  <variable name="headerVarProcessIdTitle"
            value="ProcessId"/>
  <variable name="headerVarModuleTitle"
            value="Module"/>
  <variable name="headerVarMessageTitle"
            value="Message"/>

  <!-- Separators -->
  <variable name="commonVarMainSeparator"
            value=" | "/>
  <variable name="commonVarInnerDataSeparator"
            value=" : "/>
  <variable name="commonVarSpaceSeparator"
            value=" "/>

  <targets>
    <target name="sampleFileTarget"
            type="File"
            layout="${${longdate}${longdate}${commonVarMainSeparator}${pad:padding=-9:fixedlength=true:inner=${processid}}${commonVarMainSeparator}${pad:padding=-5:fixedlength=true:inner=${level:uppercase=true}}${commonVarMainSeparator}${pad:padding=-8:fixedlength=true:inner=${threadid}}${commonVarMainSeparator}${pad:padding=-48:fixedlength=true:inner=${layoutVarLogger}}${commonVarMainSeparator}${message}${commonVarSpaceSeparator}${exception:format=shortType,@:separator= => }"
            fileName="${specialfolder:folder=Personal}${dir-separator}Mmvm${dir-separator}Sample${dir-separator}Wpf${dir-separator}Logs${dir-separator}${date:format=yyyy-MM-dd}.log"
            header="${headerVarBoldLine}${newline}${pad:padding=-24:inner=${headerVarMachineNameTitle}}${commonVarInnerDataSeparator}${machinename}${newline}${pad:padding=-24:inner=${headerVarBaseDirectoryTitle}}${commonVarInnerDataSeparator}${basedir}${newline}${pad:padding=-24:inner=${headerVarAppVersionTitle}}${commonVarInnerDataSeparator}${assembly-version}${newline}${headerVarThinLine}${pad:padding=-6:inner=${newline}}${pad:padding=-20:inner=${headerVarDateTitle}}${commonVarMainSeparator}${headerVarProcessIdTitle}${commonVarMainSeparator}${headerVarLevelTitle}${commonVarMainSeparator}${headerVarThreadIdTitle}${pad:padding=-23:inner=${commonVarMainSeparator}}${pad:padding=-28:inner=${headerVarModuleTitle}}${pad:padding=-15:inner=${commonVarMainSeparator}}${pad:padding=-15:inner=${headerVarMessageTitle}}${newline}${headerVarThinLine}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="sampleFileTarget"/>
  </rules>
</nlog>
